<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="chart/angular-chart.css">
    <script src="angular.js"></script>
    <script src="chart/Chart.js"></script>
    <script src="chart/angular-chart.js"></script>
    <script src="chat.js">
    </script>
</head>
<body ng-controller="LineCtrl">
<!--<div ><input type="text" ng-model="out"/></div>-->
<!--<input type="text" ng-model="in"/>-->
<!--<input type="button" ng-click="send()" name="xym">-->
<!--<canvas id="line" class="chart chart-line" data="data" labels="labels"-->
        <!--legend="true" series="series" click="onClick"></canvas>-->
<div><canvas style="width: 600px; height:300px" id="cpuBar" class="chart chart-bar" data="cpuData"series="cpuSeries"
        labels="labels"></canvas></div>
<div><canvas style="width: 600px ; height:300px" id="bar2" class="chart chart-bar" data="memData" series="memSeries"
        labels="labels"></canvas></div>

</body>
</html>